<header class="flex flex-row gap-10 justify-between py-4 px-10 shadow-xl border-b-slate-200">
    <img src="https://poseidon.primeng.org/assets/layout/images/logo-poseidon.png" alt="">
    <div class="flex flex-row gap-4 text-slate-400">
        <img src="../../../../assets/svgs/calendar_month_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg" alt="">
        <img src="../../../../assets/svgs/person_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg" alt="">
        <img src="../../../../assets/svgs/settings_24dp_5F6368_FILL0_wght400_GRAD0_opsz24.svg" alt="">
    </div>
</header>