<section class="grid grid-cols-1 md:grid-cols-2 gap-3 bg-gray-100 rounded-lg shadow-lg w-screen h-screen">

    <div class="relative bg-[url('https://img.freepik.com/vector-gratis/fondo-futurista-tecnologia-degradada_23-2149122416.jpg?w=1380&t=st=1723743237~exp=1723743837~hmac=a10925fa6158a4197d5d4459dcb8cfe7bf74359309bb1afef2be524b9c24993c')] w-full h-full object-cover">
        
        <section class="flex flex-col gap-10 justify-center items-center absolute inset-0 m-auto">
            <header class="flex flex-col gap-1 text-center">
                <h3 class="font-extralight text-5xl text-white">NICE TO MEET YOU AGAIN</h3>
                <h2 class="font-bold text-8xl text-white tracking-widest">WELCOME BACK</h2>
            </header>
            <main class=" max-w-xl">
                <p class="text-sm text-white font-light text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio qui eius consequuntur iure doloribus consectetur repellat voluptatem ad ipsa harum, dolores rem architecto expedita animi unde eum veniam tempora corporis.</p>
            </main>
        </section>

        <h1 class="absolute top-4 left-8 font-semibold text-2xl text-white">COPPAC GLOBAL GO</h1>

    </div>

    <div class="w-full h-full flex items-center justify-center">
        <div class="flex flex-col gap-5 justify-center items-center max-w-2xl">
            <header class="flex flex-col gap-5 justify-center items-center mb-8">
                <span class="text-blue-600 text-2xl uppercase font-bold tracking-wide">Login Account</span>
                <p class="text-gray-700 text-center text-sm leading-relaxed">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum neque fugiat saepe esse in eos aperiam, quod cum vel rerum nostrum ex ullam est molestias. Repellat reprehenderit quasi dolores in.</p>        
            </header>
            <main class="flex flex-col gap-4 w-full">
                <input type="text" placeholder="Email ID" class="p-3 border border-l-8 border-blue-300 focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500">
                <input type="password" placeholder="Password" class="p-3 border border-l-8 border-blue-300 focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500">
            </main>

            <footer class="flex flex-col gap-3 w-full">
                <div class="flex flex-row justify-between items-start px-4 w-full mb-7"> 
                    <span class="text-black font-mono">Keep me signed in</span>
                    <a href="" class="text-blue-500 font-semibold hover:text-blue-300">Alredy a member?</a>
                </div>
                <button (click)="navigateTo('Dashboard')" class="uppercase w-full py-3 rounded-lg text-white bg-blue-500 hover:bg-blue-600 transition duration-200 ease-in-out text-lg font-medium">Login</button>
            </footer>
        </div>
    </div>

</section>
