.border-y-1 {
  border-top-width: 1px !important;
  border-bottom-width: 1px !important;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}


.mat-mdc-paginator{
  background-color: transparent;
}


.text-center {
  text-align: center;
}

.items-center{
  display: flex;
  justify-content: center;
  align-items: center;
}